*.bak.*
*.bc
*.local.json
*.log
*.tsbuildinfo
.agent/.cache/
.agent/.actors/*
.agent/.notes/
.artifact
.claude/scheduled_tasks.lock
.env
.review/
.serverless
.temp
.terraform
.terraform.lock
.vscode
.yalc
coverage
dist
node_modules
!.test*/**/node_modules
!.test*/**/node_modules/**
!.agent/.actors/actor.via.slug=.default/
